p {
  color:#262626;
  text-indent: 35px;
  line-height: 30px;
}

ol {
  list-style-type: lower-roman;  /*тип списку*/
}

#header {
  color: red;
}

a:link {
  color: yellow;
}

a:visited {
  color: greenyellow;
}

a:hover {
  color: rosybrown;
}

.border {
  border-width: 2px;
  border-style: dashed;
  border-color: red;
}