p {
  color:#262626;
  text-indent: 35px;
  line-height: 30px;
}

.list {
  color: #696969
}

#header {
  color: red;
}

a:link {
  color: yellow;
}

a:visited {
  color: greenyellow;
}

a:hover {
  color: rosybrown;
}